<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/football_stakes?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="0000" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="/WEB-INF/hibernate.cfg.xml"></property>
	</bean>
	
	<bean id="template" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<!-- <property name="annotatedClasses"></property> -->
	</bean>
	<bean id="resize" class="systemServices.ResizePicture"></bean>
	
	<bean id="regularUploadPath" class="systemServices.FileUploadPath">
	<property name="uploadDirectory" value="/webapp/footballStakes/uploads/regularPlay"></property>
	</bean>
	
	<bean id="tournamentUploadPath" class="systemServices.FileUploadPath">
	<property name="uploadDirectory" value="/webapp/footballStakes/uploads/tournament"></property>
	</bean>
	
	<bean id="fileSystemResource" 
	class="org.springframework.core.io.FileSystemResource" >
	<constructor-arg  value="/webapp/footballStakes/uploads/temp/"></constructor-arg>
	</bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="uploadTempDir" ref="fileSystemResource"></property>
	</bean>
	
	<bean id="regularCommand" class="regularPlay.RegularCommandImpl">
	<constructor-arg ref="template"></constructor-arg>
	</bean>
	
	<bean id="tournamentCommand" class="tournamentPlay.TournamentCommandImpl">
	<constructor-arg ref="template"></constructor-arg>
	</bean>
	
	<bean id="regularGame" class="regularPlay.RegularGameImpl">
	<constructor-arg ref="template"></constructor-arg>
	</bean>
	
	<bean id="tournamentGame" class="tournamentPlay.TournamentGameImpl">
	<constructor-arg ref="template"></constructor-arg>
	</bean>
	
	<bean id="tournamentStage" class="tournamentPlay.TournamentStageImpl">
	<constructor-arg ref="template"></constructor-arg>
	</bean>
	
	<bean id="tournament" class="tournamentPlay.TournamentImpl">
	<constructor-arg ref="template"></constructor-arg>
	</bean>

	<context:annotation-config/>
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
        